.important {
    width: 110%;
    height: 110%;
}

.lemao {

    background-image: url('suibackground.img');
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

img {
    width: 20%;
    height: 20%;
    align-self: center;

}